@import "../../../src/scss/variables";
@import "../../../src/scss/libs/normalize.scss";

.notFound {
  text-align: center;
  padding: 100px;

  span {
    font-size: 64px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.description {
  font-size: 22px;
  line-height: 1.6;
}
